extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner IS219 Final Project
    div.Message
      div.Title
        h3 by Vanshika Patel
      span.Details Allows you to access the Cities Database using Auth0 login and JWT
    div.NavButtons
      if isAuthenticated
        a(href="/user")
          div.NavButton User Profile
        a(href="/db")
          div.NavButton Cities Database
      else
        a(href="/login")
          div.NavButton Log in